<%@include file="/WEB-INF/views/includes/init.jsp" %>
<%@taglib prefix="tags" tagdir="/WEB-INF/tags" %>

<tags:template>
	<jsp:body>
		<div>Welcome To Admin</div>
		<form id="productForm">
			<label for="productName">Product Name:</label>
			<input type="text" name="name" id="productName"/>
			<button>Add New Product</button>
		</form>
		<h2>Products</h2>
		<ul>
			<c:forEach var="product" items="${products}">
				<li>${product.name}</li>
			</c:forEach>
		</ul>
		<script>
			$('#productForm button').click(function(){
				$.post("${pageContext['request'].contextPath}/admin/product", $('#productForm').serialize(), function(){
					alert('created');
				});
				return false;
			});
		</script>
	</jsp:body>
</tags:template>